body{
  background-image: url("https://images.pexels.com/photos/255379/pexels-photo-255379.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.bg-transparent{
    background-color: rgba(250, 250, 255, 0.7) !important;
    
}

.separate {
  border: 1px solid rgb(200, 203, 207);
}

.bg-blue {
  background-color: rgb(45, 79, 189);
}

@media screen and (max-width: 800px) {
  .m-top-ward{
    margin-top: 1em;
  }
}
.navbar-nav .navbar-text{
  text-transform: uppercase ;
}

.navbar-custom ul li a:hover{
  background-color:  rgb(151, 166, 255);
  color:#fff !important;
  transition: ease-in-out 0.5s;
  border-radius: 5px;
  padding: 1;

}

.text-label{
  color: #000;
}

.jumbotron{
  margin-bottom: 0;
  padding-bottom: 3rem;
  box-shadow: -5px 3px 46px -11px rgba(172,168,181,1);
}

.card-body{
  padding-bottom: 2rem !important;
  
}